.Group{
    margin-top: 5px;
    margin-left: 5rem;
    margin-right: 5rem;
    text-align: center;
}

h1{
    color:#FEF8E7;
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 72px;
    text-align: center;
}

h2{
    color: #FEF8E7;
    font-family: 'Quicksand';
}

.Desc{
    color: #FEF8E7;
    font-family: 'Quicksand';
    font-size: 1.2rem;
}

.mainbtn{
    font-size: 2rem;
}

.cardbg{
    background: #FEF8E7!important;
    font-family: 'Quicksand';
}

.cardtitle{
    font-family: 'Poppins';
    font-size: 1.5rem;
}

.textalign{
    text-align: left;
    color: #367c7a;
    font-size: 0.9rem;
}

button{
    font-family: 'Poppins';
    background-color: #367c7a !important;
    color: #FEF8E7 !important;
}

.btn-right{
    text-align: right;
}

.g-4{
    justify-content: center;
    margin-top: 5px;
}