.Home{
    margin-top: 5px;
    margin-left: 5rem;
    margin-right: 5rem;
    text-align: left;
}

.WelcomeHeader{
    color:#FEF8E7;
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 100px;
}

.OurWorkHeader{
    color:#FEF8E7;
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 72px;
    margin-top: 3rem;
}

.TeamHeader{
    color:#FEF8E7;
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 72px;
    margin-top: 3rem;
}

.Desc{
    color: #FEF8E7;
    font-family: 'Quicksand';
    font-size: 30px;
}

.WelcomeDesc{
    color: #FEF8E7;
    font-family: 'Quicksand';
    font-size: 30px;
    margin-top: 7px;
}

.cardimg {
    width: auto;
    height: 100px;
    object-fit: cover;
}

.team-cardtitle {
    font-family: 'Quicksand';
    color:#FEF8E7;
    font-size: 18px;
    font-weight: 700;
}

.team-cardbody {
    background-color: #172051;
}

.team-subtitle {
    color:#FEF8E7;
    font-size: 18px;
    font-weight: 300;
}