.Home{
    margin-top: 5px;
    margin-left: 5rem;
    margin-right: 5rem;
    text-align: left;
}

.WelcomeHeader{
    color:#FEF8E7;
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 100px;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.OurWorkHeader{
    color:#FEF8E7;
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 72px;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
}

.TeamHeader{
    color:#FEF8E7;
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 72px;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
}

.Desc{
    color: #FEF8E7;
    font-family: 'Quicksand';
    font-size: 30px;
}

.WelcomeDesc{
    color: #FEF8E7;
    font-family: 'Quicksand';
    font-size: 30px;
    margin-top: 7px;
}

.cardimg {
    width: auto;
    height: 100px;
    object-fit: cover;
}

.team-cardtitle {
    font-family: 'Quicksand';
    color:#FEF8E7;
    font-size: 18px;
    font-weight: 700;
}

.team-cardbody {
    background-color: #172051;
}

.team-subtitle {
    color:#FEF8E7;
    font-size: 18px;
    font-weight: 300;
}

@media screen and (max-width: 768px) {
    .WelcomeHeader {
        font-size: 80px;
    }
    .migrants {
        max-width: 460px;
        height: auto;
    }
}

@media screen and (min-width: 768px) {
    .migrants {
        max-width: 400px;
        height: auto;
    }
}

@media screen and (min-width: 992px) {
    .migrants {
        max-width: 450px;
        height: auto;
    }
}

@media only screen and (min-width: 1200px) {
    .migrants {
        max-width: 550px;
        height: auto;
    }
}

@media only screen and (min-width: 1400px) {
    .migrants {
        max-width: 700px;
        height: auto;
    }
}