.Learn{
    margin-top: 5px;
    margin-left: 5rem;
    margin-right: 5rem;
    text-align: left;
}

.LearnHeader{
    color:#FEF8E7;
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 100px;
    text-align: center;
    margin-top: 4rem;
}

.VideoTitleHeader{
    color:#FEF8E7;
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 72px;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.TimelineHeader{
    color:#FEF8E7;
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 72px;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.LearnDesc{
    color: #FEF8E7;
    font-family: 'Quicksand';
    text-align: center;
}

.VideoDesc{
    color: #FEF8E7;
    font-family: 'Quicksand';
    font-size: 1.2rem;
    text-align: center;
}

.TimelineDesc{
    color: #FEF8E7;
    font-family: 'Quicksand';
    font-size: 1.2rem;
    text-align: center;
}

.video-img {
    height: auto; 
    width: auto; 
    min-width: 700px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.float-video {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vocab-card {
    background: #FEF8E7!important;
    font-family: 'Quicksand';
    height: 360px;
}

@media screen and (max-width: 768px) {
    .vocab-card {
        height: 400px;
    }
    .LearnHeader {
        font-size: 80px;
    }
    .TimelineHeader {
        font-size: 55px;
    }
    .VideoTitleHeader {
        font-size: 55px;
    }
}

@media screen and (max-width: 992px) {
    .vocab-card {
        height: 360px;
    }
}

@media only screen and (min-width: 1200px) {
    .vocab-card {
        height: 280px;
    }
}
