.p-3 {
  background-color: #FEF8E7;
}

.logo {
  font-family: 'Changa One'; 
  color: #172051 !important;
  font-size: 2.5rem;
  letter-spacing: 7px;
  margin-left: 15px;
  padding-bottom: -20px;
}

.navLink{
  color: #172051 !important;
  font-family: 'Changa One';
  font-size: 2rem;
  margin-left: 1rem;
  margin-right: 10px;
}

.navLink:hover {
  color: #367C7A !important;
}