.Orgs{
    margin: auto;
    text-align: center;
}

.OrgsHeader{
    justify-content: center;
    text-align: center;
    color:#FEF8E7;
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 72px;
}

h2 {
    color: #FEF8E7;
    font-family: 'Quicksand';
}

.textalign{
    text-align: left;
    color: #367c7a;
    font-size: 0.9rem;
}

.cardtitle{
    font-family: 'Poppins';
    font-size: 1.5rem;
}

.cardbg{
    background: #FEF8E7!important;
    font-family: 'Quicksand';
}

.card-img-g {
    width: 100%;
    height: 10vw;
    object-fit:contain;
}

@media (max-width: 480px) {
    h1 {
        font-size: 30px;
    }
}